.app-title {
  font-size: 20px;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  margin-right: 16px;
  font-size: 14px;
}

button mat-icon {
  margin-right: 4px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}